@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(248, 246, 253);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .template {
  padding: 0 2rem;
}
.template form {
  display: flex;
  place-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.template form label {
  justify-content: flex-start;
  flex-direction: row;
}
.template form input {
  margin: 10px;
  padding: 10px;
  width: 300px;
} */

/* .app {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
} */

/* .template form {
  display: flex;
  place-items: center;
  min-height: 100vh;
  flex-direction: column;
  
} */

/* Contact.js */
.form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: "Inter", sans-serif;
  position: relative;
}

.form h1 {
  margin-bottom: 30px;
}

.form input {
  padding: 20px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 20px;
  border: 1px solid lightgray;
  /* border: none; */
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
  width: 300px;
}

.form textarea {
  padding: 20px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 20px;
  border: 1px solid lightgray;
  /* border: none; */
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
  width: 300px;
}

.form input:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.form label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
  position: relative;
  width: 300px;
  left: 0;
}

.form button {
  padding: 15px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  width: 300px;
}

.form button:hover {
  background-color: rgb(0, 0, 196);
}

.errorBlock {
  width: 300px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
}
